<div class="posts-container">
    <div class="col-md-8 col-md-offset-2 posts">
        <div class="text-center" *ngIf="isLoading()">
            <loading></loading>
        </div>

        <div *ngIf="!isLoading()">
            <div *ngFor="let post of posts" [@flyInOut]="'in'">
                <article class="post">
                    <div class="body">
                        <div class="header">
                            <ul class="left">
                                <li><p class="title">{{ post.title }}</p></li>
                            </ul>
                            <ul class="right">
                                <li><p class="updated">{{ post.updated }}</p></li>
                            </ul>
                        </div>
                        <hr>

                        <div class="content">
                            <p>{{ post.content }}</p>
                        </div>

                        <hr>
                        <div class="footer">
                            <ul class="left">
                                <li><button class="btn btn-sm btn-default detail-button">{{ post.name }}</button></li>
                            </ul>
                            <ul class="right">
                                <li><p class="btn btn-sm btn-default" (click)="onSelect(post)">{{ post.total_comments }} Comments</p></li>
                                <li><p class="btn btn-sm btn-default">64 <span class="glyphicon glyphicon-heart"></span></p></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>

            <div class="text-center">
                <p>- End -</p>
            </div>
        </div>
    </div>
</div>
