<div class="col-md-8 col-md-offset-2" id="post-form">
    <div [@flyInOut]="'in'">
        <h2>{{ title }}</h2>

        <form #postForm="ngForm">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" required [(ngModel)]="post.title" name="title">
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" rows="5" id="content" required [(ngModel)]="post.content" name="content"></textarea>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" required>
                    <option>Life</option>
                    <option>Food</option>
                    <option>Dev</option>
                    <option>Idea</option>
                </select>
            </div>
            <hr>
            <div class="text-center">
                <button type="button" class="btn btn-success" (click)="addOrUpdate()">Submit</button>
            </div>
        </form>
    </div>
</div>