@import "colors.less";

.comments-container {

  .comments {
    background-color: @postgrid;
    border: 1px solid @postborder;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 20px;
    border-radius: 5px;

    .comment {
      padding: 10px 10px 0 10px;
    }

    .comment-show-button {
      margin: 0 0 1em 0;
      padding: 0 2em 0 2em;
    }
  }
}