body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
}

.brand-name {
    font-family: 'Damion', cursive;
    font-size: 2em;
}

.post {
    background-color: #fff;
    border: 1px solid #efefef;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.post-image {
    border: 1px solid #efefef;
}

.post-body {
    padding: 10px 10px 0 10px;
}

.post-title {
    font-weight: bold;
    font-size: 1.2em;
}

.post-username {
    font-size: 1.2em;
}
