<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand">
                <img alt="Brand" height="22" src="../../assets/img/voyager-icon.png">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a routerLink="" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/photo-posts" routerLinkActive="active" *ngIf="_authenticationService.authenticated()">Photo Posts</a></li>
                <li><a routerLink="/posts" routerLinkActive="active" *ngIf="_authenticationService.authenticated()">Posts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="clickable" (click)="_authenticationService.signIn()" *ngIf="!_authenticationService.authenticated()">Sign In</a></li>
                <li><a routerLink="/user/profile" *ngIf="_authenticationService.authenticated()">Profile</a></li>
                <li><a routerLink="" (click)="_authenticationService.signOut()" *ngIf="_authenticationService.authenticated()">Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>