

<div *ngIf="active" class="col-md-4 col-md-offset-4" [@flyInOut]="'in'" id="login-form">
    <h2>Login</h2>

    <!--<form (ngSubmit)="login($event)">-->
        <!--<input ngControl="email" type="email" placeholder="Your email">-->
        <!--<input ngControl="password" type="password" placeholder="Your password">-->

        <!--<button class="btn btn-default" type="submit">Log In</button>-->
    <!--</form>-->

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" required [(ngModel)]="loginForm.email" name="email" #email="ngModel">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email is required
            </div>
        </div>


        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="loginForm.password" name="password" #password="ngModel">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password is required
            </div>
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-default" [disabled]="!loginForm.valid" (click)="login()">Login</button>
        </div>

        <div [hidden]="!msgFlag" class="alert alert-danger">
            Failed to login
        </div>

    </form>

</div>