<nav class="navbar navbar-default" [@flyInOut]="'in'">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand brand-name">Voyager</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a routerLink="" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/posts" routerLinkActive="active">Posts</a></li>
                <li><a routerLink="/forum" routerLinkActive="active">Forum</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="clickable" (click)="_authenticationService.login()" *ngIf="!_authenticationService.authenticated()">Log In</a></li>
                <li><a routerLink="" (click)="_authenticationService.logout()" *ngIf="_authenticationService.authenticated()">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>