<loading></loading>
<div class="col-md-8 col-md-offset-2" *ngIf="isLoading">
    <div class="text-center">
        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        <p>Fetching Data From Server</p>
    </div>
</div>

<div class="col-md-8 col-md-offset-2 posts">

    <div class="row" *ngFor="let post of posts">
        <article class="post" id="{{ post.id }}">
            <div class="row post-body">
                <div class="col-md-8">
                    <p class="post-title">{{ post.title }}</p>
                </div>
                <div class="col-md-4 text-right">
                    <p class="post-username">- {{ post.username }}</p>
                </div>
            </div>

            <img src="{{ post.image }}" class="img-responsive post-image">

            <p class="post-body">{{ post.caption }}</p>

            <div class="row post-body">
                <div class="col-md-2">
                    <span class="glyphicon glyphicon-heart" [class.highlighted]="iLike" (click)="likeClick()"></span>
                    <span>{{ post.like }}</span>
                </div>
                <div class="col-md-10 text-right">
                    <p>{{ post.elapsed }}</p>
                </div>
            </div>
        </article>
    </div>

</div>