<div class="col-md-4 col-md-offset-4" id="login-form">
    <h2>Login</h2>

    <form #loginForm="ngForm">

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" required [(ngModel)]="form.email" name="email" #email="ngModel">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email is required
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="form.password" name="password" #password="ngModel">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password is required
            </div>
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-default" [disabled]="checkForm()" (click)="signIn()">Login</button>
        </div>

            <div *ngIf="msgFlag"  class="alert alert-danger login-message">
                Failed to login
            </div>
    </form>


    <button class="btn btn-primary btn-margin" (click)="_authenticationService.login()" *ngIf="!_authenticationService.authenticated()">Log In</button>
    <button class="btn btn-primary btn-margin" (click)="_authenticationService.logout()" *ngIf="_authenticationService.authenticated()">Log Out</button>
</div>