<div>
    <div class="col-md-4 col-md-offset-4">
    <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" #username placeholder="yours@example.com">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" #password placeholder="your password">
        </div>
        <button type="button" class="btn btn-default" (click)="__authenticationService.signIn(username.value, password.value)">Login</button>
        <button type="button" class="btn btn-default" (click)="__authenticationService.signUp(username.value, password.value)">Sign Up</button>
    </form>
    <button type="button" class="btn btn-default btn-primary" (click)="__authenticationService.googleSignIn()">Login with google</button>

    </div>
</div>