<div class="threads-container">
    <div class="col-md-8 col-md-offset-2 threads " [@flyInOut]="'in'">
        <!--<div class="row" *ngFor="let thread of threads" [@flyInOut]="'in'">-->

        <!--<article class="thread">-->
            <!--<div class="thread-body">-->
                <!--<div class="thread-header">-->
                    <!--&lt;!&ndash;<p class="inline thread-title">{{ thread.Content }}</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="inline thread-updated">- {{ thread.Content }}</p>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="thread-content">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p>{{ threads.Content }}</p>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="thread-footer">&ndash;&gt;-->
                    <!--&lt;!&ndash;<button class="btn btn-xs btn-default thread-detail inline">Detail</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="inline thread-stat">37 Comments - 64 views</p>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        <!--</article>-->

        <button class="btn btn-xs btn-primary" (click)="goToThreads()">Back</button>
        <!--</div>-->
    </div>
</div>