<div class="threads-container">
    <div class="col-md-8 col-md-offset-2 threads">
        <div class="text-center" *ngIf="isLoading()">
            <loading></loading>
        </div>

        <div *ngIf="!isLoading()">
            <div class="row" *ngFor="let thread of threads" [@flyInOut]="'in'">
                <article class="thread">
                    <div class="thread-body">
                        <div class="thread-header">
                            <ul class="left">
                                <li><p class="thread-title">{{ thread.Title }}</p></li>
                            </ul>
                            <ul class="right">
                                <li><p class="thread-updated">- {{ thread.Updated }}</p></li>
                            </ul>
                        </div>
                        <hr>

                        <div class="thread-content">
                            <p>{{ thread.Content }}</p>
                        </div>

                        <hr>
                        <div class="thread-footer">
                            <ul class="left">
                                <li><button class="btn btn-xs btn-primary thread-detail-button" (click)="onSelect(thread)">&nbsp;&nbsp;&nbsp;Detail&nbsp;&nbsp;&nbsp;</button></li>
                            </ul>
                            <ul class="right">
                                <li><p class="btn btn-xs btn-success" (click)="onSelect(thread)">37 Comments</p></li>
                                <li><p class="btn btn-xs btn-success" (click)="onSelect(thread)">64 views</p></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>

            <div class="text-center">
                <p>- End -</p>
            </div>
        </div>
    </div>
</div>
